<header class="navigation" role="banner">
  <div class="navigation-wrapper">
    <a href="javascript:void(0)" class="navigation-menu-button" id="js-mobile-menu">
      <i class="fa fa-bars"></i>
    </a>
    <nav role="navigation">
      <ul id="js-navigation-menu" class="navigation-menu show">
      <li class="nav-link"><a href="{{ site.baseurl }}/" class="logo"><strong>主页</strong></a>
      <li class="nav-link"><a href="https://xuejunma.github.io/cv"><strong>简历</strong></a>
      <li class="nav-link"><a href="https://xuejunma.github.io/research"><strong>科研</strong></a>
      <li class="nav-link"><a href="https://xuejunma.github.io/teach"><strong>教学</strong></a>
      <li class="nav-link"><a href="https://xuejunma.github.io/yanxitang"><strong>言蹊堂</strong></a>
      <li class="nav-link"><a href="https://xuejunma.github.io/englishcv"><strong>ENGLISHVERSION</strong></a>
      </ul>
    </nav>
  </div>
</header>

